<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adobe Illustrator</title>
</head>
<body>
   <h1>Adobe Illustrator</h1>

    <div>
        <h2>O Curso</h2>
        <p>
            Conhecendo a interface. Ferramentas de seleção e manipulação.
            Ferramentas de desenho. Primeiros traços. Cores. Máscaras e camadas. Criar, salvar e
            exportar. Construção prática.
        </p>
    </div>

    <div class="curso" data-preco="180" data-vagas="5">
        <p>Instrutor: Prof. Dr. João da Silva</p>
        <p>carga horária: 80 horas</p>
        <p>Preço: R$180,00</p>
        <p>Vagas disponíveis: <span class="vagas"></span></p>
        <label>Quantidade de Vagas: </label>
        <input type="number" class="quantidade" min="1" value="1">
        <p>Total à pagar: <span class="total"></span></p>
        <button class="btn-confirmar">Confirmar Seleção</button>     
    </div>
    <script src="/js/script.js"></script>
    <button><a href="/index.html">Voltar</a></button> 
</body>
</html>