<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educação Infantil</title>
</head>
<body>
    <h1>A importância do brincar na Educação Infantil</h1>

    <div>
        <h2>O Curso</h2>
        <p>
            A Educação Infantil é uma etapa escolar de grande relevância na vida de uma criança. É nesta etapa que devem ser oportunizadas competências e habilidades importantes para o desenvolvimento da alfabetização. Neste contexto, o brincar insere-se como uma importante ferramenta para o processo de ensino e aprendizagem. Tendo isso em vista, a Unoeste com o propósito de oportunizar formação desta temática, desenvolveu o curso de extensão "A importância do brincar na Educação Infantil".
        </p>
    </div>

    <div class="curso" data-preco="120" data-vagas="5">
        <p>Instrutor: Profa. Dra. Maria da Silva</p>
        <p>carga horária: 30 horas</p>
        <p>Preço: R$120,00</p>
        <p>Vagas disponíveis: <span class="vagas"></span></p>
        <label>Quantidade de Vagas: </label>
        <input type="number" class="quantidade" min="1" value="1">
        <p>Total à pagar: <span class="total"></span> </p>
        <button class="btn-confirmar">Confirmar Seleção</button>    
    </div>
    <script src="/js/script.js"></script>
    <button><a href="/index.html">Voltar</a></button>
</body>
</html>