<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Música na Educação Infantil</title>
</head>
<body>
    <h1 class="titulo">A Música na Educação Infantil e a Construção de Objetos Sonoros</h1>
    <h2 class="titulo">O Curso</h2>
    <div> 
        <p class="descricao-curso">
            O mundo globalizado, multiculturalista e em mudanças contínuas confere à humanidade uma necessidade cada vez mais intensa de comunicação.
            A educação musical é um atributo distintivo da condição humana e um componente fundamental para as interações sociais nos indivíduos.
            A Unoeste com o propósito de oportunizar uma formação de excelência apresenta o curso A Música na Educação Infantil e a Construção de Objetos Sonoros que procura demonstrar a importância da música para a formação docente leiga ou não em música. Isso vale tanto para as atividades escolares quanto para todas as outras atividades desenvolvidas para e com aos alunos. Ademais, a música, além de facilitar a aprendizagem infantil em diversas áreas do conhecimento, faz com que a criança desenvolva sua criatividade, sua subjetividade e exerça sua liberdade, tornando-a, no futuro, um ser autônomo e capaz de exercer com responsabilidade seu papel na sociedade.
        </p>
    </div>

    <div class="curso" data-preco="250" data-vagas="4">
        <p class="descricao-curso"><strong>Instrutor:</strong> Prof. Dr. Mario da Silva</p>
        <p class="descricao-curso"><strong>Carga horária:</strong> 60 horas</p>
        <p class="descricao-curso"><strong>Preço:</strong> R$250,00</p>
        <p class="descricao-curso"><strong>Vagas disponíveis:</strong> <span class="vagas"></span></p>
        <label class="descricao-curso"><strong>Quantidade de Vagas:</strong></label>
        <input type="number" class="quantidade" min="1" value="1">
        <p class="descricao-curso"><strong>Total à pagar:</strong> <span class="total"></span> </p>
        <button class="btn-confirmar botao-confirma">Confirmar Seleção</button>    
    </div>
    <button class="container-voltar"><a href="/index.html" class="btn-voltar">Voltar</a></button>
    <script src="/js/script.js"></script>
</body>
</html>