<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adobe Illustrator</title>
</head>
<body>
   <h1>Adobe Illustrator</h1>

    <div>
        <h2>O Curso</h2>
        <p>
            Conhecendo a interface. Ferramentas de seleção e manipulação.
            Ferramentas de desenho. Primeiros traços. Cores. Máscaras e camadas. Criar, salvar e
            exportar. Construção prática.
        </p>
    </div>

    <div>
        <p>Preço: R$180,00</p>
        <p>carga horária: 80 horas</p>
        <p>Quantidade de Vagas: </p>
        <p>Instrutor: Prof. Dr. João da Silva</p>
    </div>

    <button><a href="index.html">Voltar</a></button> 
</body>
</html>