<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adobe Illustrator - Iniciante até Criação de Marcas</title>
</head>
<body>
    <h1>Adobe Illustrator - Iniciante até Criação de Marcas</h1>

    <div>
        <h2>O Curso</h2>
        <p>
            O curso é a porta de entrada para o mundo do Adobe Illustrator, levando o aluno a um nível básico/ intermediário, capacitando-o com as habilidades e conhecimentos essenciais para criar logotipos incríveis.
            Por meio de uma abordagem prática e envolvente, centrada em oferecer uma compreensão sólida das ferramentas do Illustrator e das teorias de design que sustentam um logotipo eficaz, o aluno não apenas aprenderá os conceitos, mas também terá a oportunidade de aplicá-los em projetos práticos, desenvolvendo sua criatividade e confiança como designer.
        </p>
    </div>

    <div>
        <p>Preço: R$150,00</p>
        <p>carga horária: 10 horas</p>
        <p>Quantidade de Vagas: </p>
        <p>Instrutor: Prof. Dr. José da Silva</p>
    </div>

     <button><a href="index.html">Voltar</a></button>
</body>
</html>