<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleLogin.css">
    <title>Login</title>
</head>
<body class="login">
    <main class="login-card">
         <h2 class="login-titulo">Login</h2>
        <form class="login-formulario" method="POST" action="/login">
            <div class="formulario-div">
                <label class="form-label" for="usuario">Usuário:</label>
                <input class="form-input" type="text" name="usuario">
            </div>
        
            <div class="formulario-div">
                <label class="form-label" for="senha">Senha:</label>
                <input class="form-input" type="password" name="senha">
            </div>
            

            <button class="btn-submit" type="submit">Entrar</button>
        </form>
    </main>
   
</body>
</html>